{% extends 'FlexSchedBundle:Dashboard:index.html.twig' %}
{% block title %}FlexSkedge - Availability Schedule for {{ schedule_period }}{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>Schedule for {{ schedule_period.startTime|date('M-d-Y') }} to {{ schedule_period.endTime|date('M-d-Y') }}</h3>
    {% include 'FlexSchedBundle:Schedule:userschedule.html.twig' %}
</div>
{% endblock %}
