<div class="span8 well">
    {% if avail is defined and not avail is null %}
    <span class="lead">Schedule for {{ avail.schedulePeriod.startTime|date('M-d-Y') }} to {{ avail.schedulePeriod.endTime|date('M-d-Y') }}</span>
    {% include 'OpenSkedgeBundle:Schedule:userschedule.html.twig' %}
    {% else %}
    <div class="alert alert-block alert-info">
        <h4>Sorry!</h4>
        No schedule found for you in a current scheduling period.
    </div>
    {% endif %}
</div>
