{% extends 'FlexSchedBundle::base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/login.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">
    {% if error %}
        <div class="alert alert-error">
            <strong>Error:</strong> {{ error.message }}
        </div>
    {% endif %}

    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Sign Into FlexSkedge</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" class="input-block-level" placeholder="Username or Email" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" class="input-block-level" placeholder="Password" />

        <button class="btn btn-large btn-primary" type="submit" name="login">Sign Into FlexSkedge</button>
    </form>
</div>
{% endblock %}
