parameters:
    # Database Configuration
    database_driver: pdo_mysql
    database_url: %database.url%
    database_host: %database.host%
    database_port: %database.port%
    database_name: %database.name%
    database_user: %database.user%
    database_password: %database.password%

    # Mailer Configuration
    sender_email: %sender.email%
    mailer_transport: mail
    mailer_encryption: ~
    mailer_auth: ~
    mailer_port: ~
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~

    # Locale Configuration
    locale: en

    # Security Configuration
    secret: YOU_NEED_SOME_GOBBLEDIEGOOK_HERE
    protocol: http   # http or https (recommended)

    # Session Configuration
    session_handler: %session.handler%
    # If you want to use memcache for session storage
    #  session_handler: session.handler.memcache
    session_memcache_host: %memcache.host%
    session_memcache_port: %memcache.port%
    session_memcache_prefix: openskedge
    session_memcache_expire: %memcache.expire%
