parameters:
    app_name: "OpenSkedge"
    admin_email: admin@yourdomain.com
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: openskedge
    database_user: YOUR_USER
    database_password: YOUR_PASSWORD
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    # The first day of the week
    week_start_day: Sunday
    # The first day in a pay period (if different from above)
    week_start_day_clock: Sunday
    secret: YOU_NEED_SOME_GOBBLEDIEGOOK_HERE
    database_path: null
