parameters:
    # Database Configuration
    database_driver: pdo_mysql
    database_url: ~
    database_host: 127.0.0.1
    database_port: 3306
    database_name: openskedge
    database_user: root
    database_password: ~

    # Mailer Configuration
    sender_email: no-reply@mydomain.com
    mailer_transport: mail
    mailer_encryption: ~
    mailer_auth: ~
    mailer_port: ~
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~

    # Locale Configuration
    locale: en

    # Security Configuration
    secret: YOU_NEED_SOME_GOBBLEDIEGOOK_HERE
    protocol: http   # http or https (recommended)

    # Session Configuration
    session_handler: ~
    # If you want to use memcache for session storage
    #  session_handler: session.handler.memcache
    session_memcache_host: 127.0.0.1
    session_memcache_port: 11211
    session_memcache_prefix: openskedge
    session_memcache_expire: 3600
