{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block modulecontent %}
<div class="span12">
    <h3>Create a New Availability Schedule</h3>
    <form action="{{ path('user_schedule_pre_new') }}" method="post">
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">Continue</button> <a href="{{ path('my_schedules')}}" class="btn">Cancel</a>
    </form>
</div>
{% endblock %}
