<div id="clockmodule" class="span4 well well-large">
  <div id="clock" class="text-center">
    <span class="lead">{{ date()|date("F j, Y") }}</span>
    <h1 id="clockTime"></h1>
  </div>
{% spaceless %}
  {% if app.user.clock.status == 1 %}
    {% set action = 'out' %}
    {% set actionpath = 'clock_out' %}
  {% else %}
    {% set action = 'in' %}
    {% set actionpath = 'clock_in' %}
  {% endif %}
  {% if outside %}
  <div class="alert">
    <strong>Sorry!</strong> You cannot clock in. It appears you're not accessing {{ app_brand_name() }} from work.
  </div>
  {% endif %}
{% endspaceless %}
  <form action="{{ path(actionpath) }}" method="post">
    <button class="btn btn-primary btn-large btn-block" type="submit" {% if outside %}disabled{% endif %}>Clock {{ action|capitalize }}</button>
  </form>
</div>
