@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
body {
    background: url('../img/bg.png');
    font-size: 14px/1.231;
    font-family: "Lato", "Helvetica Neue", Helvetica, "Droid Sans", "Open Sans", "Liberation Sans", Arial, sans-serif;
}
.well { background: url('../img/well_bg.png'); }
.navbar,
.navbar-inner,
.navbar-inverse {
    max-height: 40px;
    overflow: hidden;
    background-color: transparent !important;
    background-image: none, url('../img/navbar_bg.png') !important;
}
.muted { color: #777; }
hr {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #eee;
}
form, #form { display: inline; }
h3 { display: inline; }
.page-content-container { padding-top: 20px; }
.sidebar-nav { padding: 9px 0; }
.sidebar-nav a { color: #059; }
.nav>li>a:hover { background-color: #eee; }
#timeresolution {
    display: inline;
    margin-left: 10px;
}
.header-control {
    margin-left: 10px;
    display: inline;
    position: relative;
    top: -4px;
}
.brand {
    position: relative;
    top: -2px;
}
.openskedge-logo {
    display: inline-block;
    line-height: 28px;
    background: url('../img/openskedge_logo.png') no-repeat;
    height: 28px;
    width: 28px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.openskedge-logo-blue {
    display: inline-block;
    line-height: 18px;
    background: url('../img/openskedge_logo_blue.png') no-repeat;
    height: 18px;
    width: 18px;
    vertical-align: middle;
}
