.schedule-table,
.schedule-table tr,
.schedule-table td,
.schedule-table th {
    border-color: #9A9a9A;
}
.schedule-table tr {
    background-color: #f5f5f5;
}
.p0 {
    background-color: #BBbbBB;
}
.p1 {
    background-color: #AAaaFF;
}
.p2 {
    background-color: #CCccFF;
}
.p3 {
    background-color: #EEeeFF;
}
