{% extends 'OpenSkedgeBundle:Dashboard:index.html.twig' %}
{% block title %}{{ app_brand_name() }} - Reports{% endblock %}
{% block modulecontent %}
<div class="span12">
    <h3>Reports</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Report Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a class="btn btn-primary" href="{{ path('report_hours') }}">Clock Reports</a></td>
                <td>Generate time clock reports for users which compare clocked in hours with hours scheduled.</td>
            </tr>
            <tr>
                <td><a class="btn btn-primary" href="{{ path('report_late_missed_shifts') }}">Late/Missed Shift Report</a></td>
                <td>View late/missed shift logs and the user supplied reason for being late/absent.<br>You may also set them to excuse or unexcused.</td>
            </tr>
            <tr>
                <td><a class="btn btn-primary" href="{{ path('report_shifts') }}">Shift Trade Report</a></td>
                <td>View shifts posted for trade and the user supplied reason for posting.<br>You may also set them to approved or unapproved.</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
